<a href="https://colab.research.google.com/github/de-fernandez/OOP-CpE-009B-CpE21S4/blob/main/cpe009bs4_Fernandez_Don_Eleazar_lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> <h1> Laboratory Activity 3: Inheritance, Encapsulation, and Abstraction </h1>

In [26]:
class Employee():
    def __init__(self, emp_id, emp_name, emp_address):
        self.emp_id = emp_id
        self.emp_name = emp_name
        self.emp_address = emp_address

    def calculate_salary(self, days_of_work):
        pass

    def display_employee_details(self):
        print(f"Employee ID: {self.emp_id}")
        print(f"Name: {self.emp_name}")
        print(f"Address: {self.emp_address}")

class FullTime(Employee):
    def __init__(self, emp_id, emp_name, emp_address, allowance, rate):
        super().__init__(emp_id, emp_name, emp_address)
        self.allowance = allowance
        self.rate = rate

    def calculate_salary(self, days_of_work):
        return (self.rate * days_of_work) + self.allowance

    def display_employee_details(self):
        super().display_employee_details()
        print(f"Allowance: {self.allowance}")

class PartTime(Employee):
    def __init__(self, emp_id, emp_name, emp_address, rate):
        super().__init__(emp_id, emp_name, emp_address)
        self.rate = rate

    def calculate_salary(self, days_of_work):
        return self.rate * days_of_work

    def display_employee_details(self):
        super().display_employee_details()
        print(f"Rate: {self.rate}")

class Salary:
    def __init__(self, salary_id, employee, days_of_work, cut_off_date):
        self.salary_id = salary_id
        self.employee = employee
        self.days_of_work = days_of_work
        self.cut_off_date = cut_off_date

    def display_salary(self):
        self.employee.display_employee_details()
        total_salary = self.employee.calculate_salary(self.days_of_work)
        print(f"Salary ID: {self.salary_id}, Total Salary: {total_salary}, Cut-off Date: {self.cut_off_date}")
        print("=" * 40)

def main():
    full_time_emp = FullTime(1, "Marcus", "Pasig City", allowance = 8000, rate = 1800)
    part_time_emp = PartTime(2, "Merida", "Manila City", rate = 500)
    cut_off_date = date.today()

    salary1 = Salary(101, full_time_emp, days_of_work = 24, cut_off_date=cut_off_date)
    salary2 = Salary(102, part_time_emp, days_of_work = 12, cut_off_date=cut_off_date)

    salary1.display_salary()
    salary2.display_salary()

if __name__ == "__main__":
    main()

Employee ID: 1
Name: Marcus
Address: Pasig City
Allowance: 8000
Salary ID: 101, Total Salary: 51200, Cut-off Date: 2024-09-23
========================================
Employee ID: 2
Name: Merida
Address: Manila City
Rate: 500
Salary ID: 102, Total Salary: 6000, Cut-off Date: 2024-09-23
========================================